{
  "$schema": "http://json.schemastore.org/prettierrc",
  "printWidth": 80,
  "tabWidth": 2,
  "arrowParens": "always",
  "trailingComma": "all",
  "semi": true,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "singleQuote": true,
  "useTabs": false,
  "quoteProps": "consistent",
  "jsxSingleQuote": false,
  "singleAttributePerLine": false,
  "endOfLine": "lf",
  "importOrder": [
    "^(react/(.*)$)|^(react$)",
    "^(next/(.*)$)|^(next$)",
    "<THIRD_PARTY_MODULES>",
    "",
    "^@/types/(.*)$",
    "",
    "^@/config/(.*)$",
    "^@/contexts/(.*)$",
    "^@/lib/(.*)$",
    "^@/utils/(.*)$",
    "^@/hooks/(.*)$",
    "^@/actions/(.*)$",
    "^@/components/(.*)$",
    "",
    "^@/assets/(.*)$",
    "^@/public/(.*)$",
    "^@/store/(.*)$",
    "",
    "^[.]",
    "^(?!.*[.]css$)[./].*$",
    ".css$"
  ],
  "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],
  "importOrderTypeScriptVersion": "5.0.4",
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ]
}
